body {
  margin: 0;
  background: #0b0b0f;
  color: white;
  font-family: system-ui, sans-serif;
  text-align: center;
}

h1 {
  margin: 10px 0;
  font-size: 24px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

button, select {
  padding: 10px 14px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background: #cbddf2;
  color: black;
  font-weight: bold;
}

.frame {
  position: relative;
  width: 90%;
  max-width: 420px;
  margin: auto;
}

video {
  width: 100%;
  border-radius: 20px;
  border: 4px solid #cbddf2;
}

.frameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid ##d1b4f0;
  border-radius: 20px;
  box-sizing: border-box;
  pointer-events: none;
}

.buttons {
  margin-top: 12px;
}

canvas {
  display: none;
}

img {
  width: 90%;
  max-width: 420px;
  margin-top: 15px;
  border-radius: 20px;
  border: 4px solid #d1b4f0;
}

#strip {
  width: 90%;
  max-width: 420px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.strip-photo {
  width: 100%;
  border-radius: 10px;
  border: 3px solid white;
}

.frameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 20px;
  box-sizing: border-box;
}

/* Frame Styles */
.frameOverlay.none {
  border: 0;
  background: transparent;
}

.frameOverlay.classic {
  border: 8px solid white;
}

.frameOverlay.polaroid {
  border: 20px solid white;
  border-bottom-width: 50px;
}

.frameOverlay.neon {
  border: 8px solid #cbddf2;
  box-shadow: 0 0 20px #gray;
}

.frameOverlay.cute {
  border: 8px solid #ff69b4;
  border-radius: 40px;
  box-shadow: 0 0 12px #ff69b4;
}